# LIST OF SOURCE PEERS. SEPARATE WITH COMMA. LEAVE BLANK TO CHECK MESSAGES FROM ALL PEERS.
SOURCES=
# LIST UF USERS, SEPARATE WITH COMMA
# LEAVE BLANK IF YOU WANT ONLY TO SAVE MESSAGES TO MYSQL DATABASE
RECIPIENTS=@xtrime
# LIST UF KEYWORDS (REGULAR EXPRESSIONS), SEPARATE WITH COMMA.
# LEAVE BLANK FOR ALL MESSAGES (INCLUDING EMTPTY TEXT)
KEYWORDS=
# LIST OF STOP WORDS (REGULAR EXPRESSIONS), SEPARATE WITH COMMA.
# IF ANY WORD PRESEND IN MESSAGE, IT WILL BE SKIPPED
STOP_WORDS=

# Set online status to user account while event handler is running
ONLINE_STATUS=true
# Save all updates to mysql database.
SAVE_MESSAGES=false
# Repost Messages
REPOST_MESSAGES=true
# Send links to messages from groups and channels to recipient peers
SEND_LINKS=false
# Skip same messages from same author if it sent less than this amout of seconds.
# remove value to disable duplicate check
SKIP_DUPLICATES="+5 minutes"

# TELEGRAM CLIENT
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
# FATAL_ERROR = 0; ERROR = 1; WARNING = 2; const NOTICE = 3; VERBOSE = 4; ULTRA_VERBOSE = 5;
LOGGER_LEVEL=2

#   Change this type to convert session:
DB_TYPE="mysql"
#   MYSQL Settings. Required, when DB_TYPE=mysql
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=MadelineProto
DB_MAX_CONNECTIONS=10
DB_IDLE_TIMEOUT=60
#   Recent data will be stored in memory this amount of time:
DB_CACHE_TTL="+5 minutes"
# Options: serialize, igbinary
DB_SERIALIZER=serialize
# Enable to add cache info about users to database. Disable if you only read data from channels.
DB_ENABLE_MIN_DATABASE=0
# Enable file metadata cache
DB_ENABLE_FILE_REFERENCE_DATABASE=0
